version: 2
jobs:
  build:
    machine:
        enabled: true
    steps:
      - checkout
      - deploy:
          command: |
            export PACKAGE_EXISTS="$(npm info robots-txt-parse@$(npm run -s version) version)"
            echo "Existing version: ${PACKAGE_EXISTS}"
            if [ "${CIRCLE_BRANCH}" == "master" ] && [ "${PACKAGE_EXISTS}" == "undefined" ]; then
              echo "Publishing..."
              echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
              npm publish
            fi


