version: 2
jobs:
  deploy:
    machine:
        enabled: true
    steps:
      - checkout
      - deploy:
          command: |
            export PACKAGE_EXISTS="$(npm info robots-txt-parse@$(npm run -s version) version)"
            echo "Existing version: ${PACKAGE_EXISTS}"
            if [ "${CIRCLE_BRANCH}" == "master" ] && [ "${PACKAGE_EXISTS}" == "undefined" ]; then
              echo "Publishing..."
              echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
              npm publish
            fi

  test:
    machine:
        enabled: true
    steps:
      - checkout
      - run:
          name: npm Test
          command: npm install
          command: npm run test

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
